{% extends "generic/base_generic.html" %}
{% load i18n %}
{% load tags %}

{% block title %}
    {% blocktrans %} 
        GeoRemindMe! / Personas que siguen a {{username}}
    {% endblocktrans %}
{% endblock %}

{% block body %}
	{% with followers as followers_q %}
    <h1>
        {% ifequal request.user.username username %}
            {%trans "Te siguen {{followers_q|length}} personas" %}
        {% else %}
            {%trans "A {{username}} le siguen {{followers_q|length}} personas" %}
        {% endifequal %}
    </h1>
    
    <ul id="user-list">
    {% for f in followers_q %}
        <li>
            <div class="avatar">
                <a href="{% url2 in_facebook profiles_profile_public f.username %}" title="{%trans "Ver perfil en GeoRemindMe" %}">
                    <img src="{% embedded_avatar f.username%}" alt="{%trans "Avatar" %}">
                </a>
                <br>
                <a href="{% url2 in_facebook profiles_profile_public f.username %}" title="{%trans "Ver perfil en GeoRemindMe" %}">{{ f.username }}</a>
            </div>

            {% ifequal request.user.username f.username %}
                <!-- Depende de si ya lo sigues o-->
                {% if f.is_following %}
                    <div id="following_state_{{ f.id }}" class="follow-button following-state">
                        <span  onclick="javascript:follow('unfollow',{{f.id}})"><a href="#" class="following">{%trans "Siguiendo" %}</a></span>
                    </div>
                {% else %}
                    <div id="following_state_{{ f.id }}" class="follow-button">
                        <span  onclick="javascript:follow('follow',{{f.id}})"><a href="#" class="no-following">{%trans "Seguir" %}</a></span>
                    </div>
                {% endif %}
            {% endifequal %}
            
            
            <hr>
        </li>
    {% endfor %}    
    </ul>
    {% endwith %}
{% endblock %}
