Django
PIL
South
amqplib
celery
distribute
django-celery
django-debug-toolbar
django-indexer
django-picklefield
django-sentry
easy-thumbnails
eventlet
feedparser
greenlet
httplib2
kombu
lockfile
oauth2
psycopg2
pylibmc
python-cjson
python-daemon
python-dateutil==1.5
python-openid
pytz
raven
wsgiref
gunicorn
meinheld
