{% load tags %}
{% load i18n %}

{% comment %} 
    Mensaje nº 100<br>
    100: Usuario empieza a seguirte | UT
{% endcomment %} 



{% if obj.is_private and obj.objetive.username = request.user.username %}
	<li class="msg-{{obj.msg_id}}">
		<div class="avatar">
			<a href="{% url2 in_facebook profiles_profile_public obj.actor.username %}" title="{{obj.actor.username}}">
				<img class="user-picture" src="{% embedded_avatar obj.actor.username %}" alt="{{obj.actor.username}} avatar"/>
			</a>
		</div>
		<span class="timeline-icon">&nbsp;</span>
		<a href="{% url2 in_facebook profiles_profile_public obj.actor.username %}" class="dark-link">{{obj.actor.username}}</a> {% trans 'ahora te está siguiendo' %}<br>
		<span class="timestamp"> {{obj.created|naturaltime}}</span>  
	</li>
<!--
	NO entra porque en chronology está puesto que no
	<p>{{obj}}</p>
	
	<span class="timestamp"> {{obj.created|naturaltime}}</span>  
-->
{% else %}
	{% if obj.objetive.username and obj.objetive.username != 'georemindme' %}
		<li class="msg-{{obj.msg_id}}">
			<div class="avatar">
				<a href="{% url2 in_facebook profiles_profile_public obj.actor.username %}" title="{{obj.actor.username}}">
					<img class="user-picture" src="{% embedded_avatar obj.actor.username %}" alt="{{obj.actor.username}} avatar"/>
				</a>
			</div>
			<span class="timeline-icon">&nbsp;</span>
			{% if obj.objetive.username = request.user.username %}
				<a href="{% url2 in_facebook profiles_profile_public obj.actor.username %}" class="dark-link">{{obj.actor.username}}</a> {% trans 'ahora te está siguiendo' %}<br>
			{% else %}
				<a href="{% url2 in_facebook profiles_profile_public obj.actor.username %}" class="dark-link">{{obj.actor.username}}</a> {% trans 'ahora sigue a' %} <a href="{% url2 in_facebook profiles_profile_public obj.objetive.username %}">{{obj.objetive.username}}</a><br>
			{% endif %}
			
			<span class="timestamp"> {{obj.created|naturaltime}}</span> 
		</li>
	{% endif %}
{% endif %}



